/*
 * This is the css style file for the Listify child theme.
 *
 * @version 0.0.1
 * @since   0.6.3
 */



/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.container {
    text-align: left;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.select:after{
    display: none;
}

/* ===================================
    MENU
   =================================== */

.primary-header-inner{
    display: flex !important;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    z-index: 1;
}

.primary.nav-menu{
    flex: 1;
    float: right;
}

.user-menu{
    padding: 10px;
    width: fit-content;
    float: right;
}

.user-menu a{
    display: flex !important;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    color: white !important;
}

.user-menu a:hover, .user-menu a:focus{
    color: white !important;
}

.user-menu a:hover > span{
    text-decoration: underline;
}

.user-menu img{
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user-menu span{
    float: left;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 15px;
}

/* ===================================
    TITLE
   =================================== */

.container-title{
    margin-top: 50px;
}

.sep-title{
    width: 10%;
    color: whitesmoke;
    float: left;
}

/* ===================================
    BADGES page
   =================================== */

.search-badges-container{

}

.form-control-wrapper{
    display: block !important;
}

.form-control-fix{
    width: -webkit-fill-available !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


/* ===================================
    BADGES preview
   =================================== */

.badge-preview{
    padding: 10px;
    margin-bottom: 35px;
}

.badge-preview-in{
    text-align: center;
    border-radius: 10px;
}

.badge-preview-in {
    width: auto;
    margin: auto;
}

.badge-preview-in .bp-logo {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 150px;
}

.badge-preview-in .bp-logo img{
    height: 100%;
    width: auto;
}

.sep-badge-previw{
    margin: 15px auto 10px auto;
    width: 20%;
    color: whitesmoke;
}

.badge-preview-in .bp-title {
    text-decoration: none;
    color: black;
}

.badge-preview-in:hover > a {
    text-decoration: underline !important;
}




/* ===================================
    USER page
   =================================== */

/*
.user-info {
    position: relative;
    width: 55%;
    overflow: hidden;
    float: left;
}

.author-name {
    text-align: left;
    float: none;
    margin-bottom: 20px;
}


.author-name h1{
    font-size: 40px;
}

.user-info .img-info {
    float: left;
    width: 20%;
}

.user-info .img-info img{

}
*/

.user-info .txt-info {
    float: left;
    width: 80%;
}

.txt-info li {
    margin: 4px 0px;
    font-size: 16px;
    font-weight: 100;
    color: black;
    list-style-type: none;
    float: left;
    clear: both;
    display: inline-block;
}

.txt-info li:first-child {
    margin-top: 0px;
}


.btn-update-container{
}

/*
.user-badges-lfc{
    width: 45%;
    float: left;
    padding: 0px 0px 0px 0px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 8px solid #e6e6e6;
}

.badge-title {
    float: none;
    padding: 0px 0px 1.75px 0px;
    background-color: #e6e6e6;
}

.badge-title-container{
    background-color: #e6e6e6;
    padding-bottom: 5px;
    text-align: center;
}

.badge-title h3{
    font-size: 1.3rem;
    font-weight: 100;
    color: white;
    background-color: #d6d6d6;
    width: 19%;
    border-radius: 4px;
    padding: 1px 1px 3px 1px;
    margin: auto;
}

.ub-container{
    padding: 10px 10px 10px 10px;
}

.badges_profil{
    padding: 7px 5px 7px 5px !important;
}

.badges_profil img{
    width: 100%;
    height: auto;
}
*/

.title-lst{
    margin-top: 70px;
}

.title-lst h2{
    display: inline-block;
    font-size: 22px;
    color: #757575;

}

.sep-testo-down{
    width: 41%;
    border: 1px solid #e6e6e6;
    position: relative;margin-left: 0px;
    font-weight: 100;

}

.listings-user{
    margin: 40px 0px;

}

.list-column{
    background-color: whitesmoke;
    border-radius: 5px;
}



.nav-pills .nav-list{
    color: #4b4b4b;
    border-radius: 5px;
    padding: 5px 20px;
    display: inline-block;
    font-weight: 100;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    line-height: 1.25;
}

.nav-pills .nav-list.active{
    background-color: #959595;
    color: white;
    text-decoration: none;
}

.nav-pills .nav-list:hover {
    text-decoration: none;
}



.tab-content {
    padding: 15px 25px 0px 25px !important;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.widgettitle{
    font-weight: 100;
    font-size: 14px;
    color: #b8b8b8;
}


code {
    font-size: 80%;
}
